<div{{ attributes.addClass('kingly-collapsible') }}>
  <div class="kingly-collapsible__heading">
    {% block heading %}{% endblock %}
  </div>
  <div class="kingly-collapsible__content">
    {% block content %}{% endblock %}
  </div>
</div>
