<div{{ attributes.addClass('kingly-accordion') }}>
  <div class="kingly-accordion__heading">
    {% block heading %}{% endblock %}
  </div>
  <div class="kingly-accordion__content">
    {% block content %}{% endblock %}
  </div>
</div>
