.kingly-text .text-content {
  color: var(--utrecht-paragraph-color, inherit);
  font-family: var(--utrecht-paragraph-font-family), serif;
  font-size: var(--utrecht-paragraph-font-size);
  font-weight: var(--utrecht-paragraph-font-weight);
  line-height: var(--utrecht-paragraph-line-height);
}
