.kingly-text {
  --nl-paragraph-color: var(--utrecht-paragraph-color, inherit);
  --nl-paragraph-font-family: var(--purmerend-font-family-font-family-8);
  --nl-paragraph-font-size: var(--utrecht-paragraph-font-size);
  --nl-paragraph-font-weight: var(--utrecht-paragraph-font-weight);
  --nl-paragraph-line-height: var(--utrecht-paragraph-line-height);
}

.kingly-text .text-content {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
